<!DOCTYPE html>
<html>
<head>
    <title>Make Money Money!<title>
</head>

<body>

  <form>
    <input type="text" id="employee_name" name="employee_name">
    <input type="text" id="employee_id" name="employee_id">
    <input type="text" id="amount" name="amount">
    <input type="text" id="category" name="category">
    <select name="category" id="category">
      <option value="entertainment">Entertainment</option>
      <option value="travel">Travel</option>
      <option value="other">Other</option>
    </select>
    <input type="datetime" id="datetime" name="datetime">
    <input type="text" id="description" name="description">
    <input type="submit" id="submit" name="submit">
  </form>

</body>

</html>
